// Colors
$input-placeholder-black: rgb(29, 33, 41);
$background-gray: rgb(240, 242, 245);
$button-blue: #1877f2;
$button-green: #9dac9a;
$green-dark: #36a420;
$gray-input: #f5f6f7;
$input-text-color: rgb(28,30,33);
